@model AddExpenseViewModel


@section Link {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Expense" asp-action="Index">Expenses</a></li>
}

<div class="row">
    <div class="col-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Add Expense</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Expense" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="ExpenseType"></label>
                        <select asp-for="ExpenseType" class="form-control" asp-items="Html.GetEnumSelectList<ExpenseTypeEnum>()">
                        </select>
                        <span class="text-danger" asp-validation-for="ExpenseType"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" cols="30" rows="5" placeholder="Meeting at the hotel california" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" value="1000" placeholder="Price...">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-control d-none" asp-for="File"></label>
                        <div class="my-2 d-none" id="preview">
                            <img src="#" alt="Preview" height="200" />
                        </div>
                        <input asp-for="File" type="file" class="form-control-file">
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<partial name="_AddImageScriptsPartial" />*@
    <script>
        // Add image and preview
        var img = $("#preview > img")[0];
        $("#File").change(function (event) {
            var imgFile = this.files[0];
            if (imgFile && imgFile.type.startsWith("image/")) {
                img.src = URL.createObjectURL(imgFile);
                $("#preview").removeClass("d-none");
            }
            else {
                img.src = "#";
                $("#preview").addClass("d-none");
            }
        });
    </script>
}