@model Permission
@{
    ViewData["Title"] = "Permission Reply";
}

<form asp-action="PermissionReply" method="post">
    <div class="form-group d-none">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.FirstName">Employee Name</label>
        <input asp-for="ApplicationUser.FirstName" value="@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="PermissionName">Permission Name</label>
        <input asp-for="PermissionName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="PermissionDays">Permission Days</label>
        <input asp-for="PermissionDays" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="RequestPermissionDate">Request Permission Date</label>
        <input asp-for="RequestPermissionDate" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="PermissionStartDate">Permission Start Date</label>
        <input asp-for="PermissionStartDate" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="PermissionEndDate">Permission End Date</label>
        <input asp-for="PermissionEndDate" class="form-control" readonly />
    </div>
    <input type="submit" name="Accept" value="Accept" class="btn btn-success" />
    <input type="submit" name="Decline" value="Decline" class="btn btn-danger" />
</form>
