@model EditPackageViewModel

@{
    ViewData["Title"] = "Edit Package";
}

@section Link {
    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-action="Packages" asp-controller="Package">Packages</a></li>
}

<div class="col-md-6">
    <form asp-action="EditPackage" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Package Informations</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="PackageName"></label>
                    <input asp-for="PackageName" class="form-control">
                    @if (!string.IsNullOrEmpty(ViewBag.ExistPackage))
                    {
                        <span class="text-danger">@ViewBag.ExistPackage</span>
                    }
                    <span class="text-danger" asp-validation-for="PackageName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PackageDescription"></label>
                    <textarea asp-for="PackageDescription" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="PackageDescription"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PackagePrice"></label>
                    <input asp-for="PackagePrice" class="form-control">
                    <span class="text-danger" asp-validation-for="PackagePrice"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PublishStartDate"></label>
                    <input asp-for="PublishStartDate" type="date" placeholder="dd-mm-yyyy" min="2000-01-01" class="form-control">
                    <span class="text-danger" asp-validation-for="PublishStartDate"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                    }
                </div>

                <div class="form-group">
                    <label asp-for="PublishEndDate"></label>
                    <input asp-for="PublishEndDate" type="date" placeholder="dd-mm-yyyy" class="form-control">
                    <span class="text-danger" asp-validation-for="PublishEndDate"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                    }
                </div>
                <div class="form-group">
                    <label class="form-control d-none" asp-for="Image"></label>
                    <div class="my-2" id="preview">
                        <img src="~/img/@Model.PicturePath" alt="Preview" height="200" />
                    </div>
                    <input asp-for="Image" type="file" class="form-control-file">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<partial name="_AddImageScriptsPartial" />*@
    <script>
        // Add image and preview
        var img = $("#preview > img")[0];
        $("#Image").change(function (event) {
            var imgFile = this.files[0];
            if (imgFile && imgFile.type.startsWith("image/")) {
                img.src = URL.createObjectURL(imgFile);
            }
            else {
                img.src = "#";
                $("#preview").addClass("d-none");
            }
        });
    </script>
}